apiVersion: 1

datasources:
  - name: {{ grafana_loki_datasource_name }}
    uid: loki
    type: loki
    access: proxy
    url: {{ grafana_loki_url }}
    isDefault: false
    editable: true
    jsonData:
      maxLines: 1000

